/* style.css */

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
.logo {
  width: 50px;
  height: 50px;
  color: black;
  margin: 0px 5px;
  margin-right: 18px;
}
.myimg {
  width: 50px;
  height: 50px;
  border: solid 1px white;
  border-radius: 10px;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  color: #555;
}

.select2-container--default .select2-selection--multiple {
  border: 1px solid #ced4da !important;
  border-radius: 5px;
}

.select2-container--default .select2-selection--multiple:focus {
  border-color: #80bdff !important;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-danger:hover {
  background-color: #c82333;
}

/* Navbar */
.navbar {
  background-color: #343a40 !important;
}

.navbar-brand {
  font-size: 1.8em;
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: white !important;
  font-size: 1.2em;
  margin-right: 20px;
  font-weight: bold;
}
